<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	
	// create empty chat object
	chat_object = {"done":false}

	var my_function = function(){
		chat_object["chat_text"] = $("#chat_text").val();
		chat_object_string = JSON.stringify(chat_object);
		
		// print stringified object
		console.log(chat_object_string);

		$.get({
			url: "/get_response/",
			data: chat_object_string,
			dataType: 'json',
			method: 'post',
			success:function(data){
				chat_object = data;
				// if(data["done"] == false){
					
				// }else 
				if(data["done"] == true){
					chat_obj = {"done":false}
				}
				$("#chat_box").append("<p>"+chat_object["response"]+"</p>");
			}
		});
		return false;
	}
</script>

<title>CHATBOT</title>
<h1>Hello, World!</h1>

<form onsubmit="my_function(); return false;">
	<input id="chat_text" type="text"/>
	<input type='submit'/>
</form>
<div id="chat_box" style="width: 500px; height: 500px; border: 1px solid black">

</div>