<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">
	
	// create empty chat object
	chat_object = {"done":false}

	var my_function = function(){
		// get the sentence the user typed
		user_input = $("#chat_text").val();
		chat_object["chat_text"] = user_input;
		console.log(chat_object)
		// if we need a field, add it to the chat object
		if ("needs" in chat_object){
			chat_object[chat_object["needs"]] = user_input;
		}
		//make request
		$.get({
			url: "/get_response/",
			data: JSON.stringify(chat_object),
			dataType: 'json',
			method: 'post',
			success:function(data){
				chat_object = data;
				console.log(chat_object);
				$("#chat_box").append("<p>"+chat_object["response"]+"</p>");
				
				if(data["done"] == 'true'){
					console.log("adding this object");
					chat_object = {"done":false}
				}

			}
		});
		return false;
	}
</script>

<title>CHATBOT</title>
<h1>Hello, World!</h1>

<form onsubmit="my_function(); return false;">
	<input id="chat_text" type="text"/>
	<input type='submit'/>
</form>
<div id="chat_box" style="width: 500px; height: 500px; border: 1px solid black">

</div>