<html>
<head>
	<title>alisa.ai</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='index2.css')}}?v=13">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='bootstrap.min.css')}}?v=13">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{url_for('static', filename='rebecca.js')}}"></script>
	<script type="text/javascript">
		// create empty chat object
		chat_object = {"done": false};
		$("#user_input").focus();
		var send = function(){
			// get the sentence the user typed
			user_input = $("#user_input").val();
			chat_object["user_input"] = user_input;
			user_input = $("#user_input").val('');
			// if we need a field, add it to the chat object
			if ("needs" in chat_object){
				chat_object[chat_object["needs"]] = user_input;
			}
			//make request
			$.get({
				url: "/get_response/",
				data: JSON.stringify(chat_object),
				dataType: 'json',
				method: 'post',
				success:function(data){
					console.log('data received from server:');
					console.log(data);

					chatarea = document.getElementById("chatarea");
					// add user message
					$("#chatarea").append("<p class='user_message'>"+chat_object["user_input"]+"</p>");
					// adjust scroll
					chatarea.scrollTop = chatarea.scrollHeight
					// get alisas message
					chat_object = data;
					// append alisas message
					$("#chatarea").append("<p class='alisa'>"+chat_object["response"]+"</p>");
					// adjust scroll
					chatarea.scrollTop = chatarea.scrollHeight
					
					if(data["done"] == 'true'){
						getFrontendElement(chat_object);
						chat_object = {"done":false}
					}
				}
			});
			return false;
		}
	</script>
</head>
<body>
	<div class="long element" id='chat'>
        <p class="talkingTo">
            <a><img src="{{ url_for('static', filename='logoAlisaFinal.png') }}" alt="Logo Alisa"></a>
        </p>
		<div id="chatarea">
			<p class="alisa message">Let's build a site</p>
			<p class="user_message message">Make me a site</p>
		</div>
		<form onsubmit='send(); return false;'>
			<input type='text' id='user_input'>
{#			<input type='submit' value="Enter">#}
            <button type="submit" class="btn btn-primary">Send</button>
		</form>
	</div>
	<div id="preview"></div>
</body>
</html>