<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>WebaLisa</title>
    <script src="main.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
    <link rel="shortcut icon" href="images/logo/logoAlisaFinal.png">

</head>
<body>

<div class="long element" id="mainChat">
    <p class="talkingTo">
        <a><img src="images/logo/logoAlisaFinal.png" alt="Logo Alisa"></a>
    </p>

    <div id="startFirst" class="messageContainer, none">
        <p class="chatMessage authorWeba">Hey my name is WebAlisa !</p>
    </div>
    <div id="startSecond" class="messageContainer, none" >
        <p class="chatMessage authorWeba">I am going to code for you. You'll just have to give me what to construct</p>
    </div>
    <div id="startThird" class="messageContainer, none" >
        <p class="chatMessage authorWeba">You can see your website evolving on the right Window. It's Magic!!</p>
    </div>
    <div id="startFourth" class="messageContainer, none" >
        <p class="chatMessage authorWeba">Let's begin</p>
        <img src="" class="">
    </div>
</div>
blabla

<div class="long element" id="websitePreview"></div>

<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
</body>
